server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${DB_URL} 
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    mongodb:
      uri: ${MONGODB_URI}

  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:update}
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

gcp:
  bucket:
    name: ${GCP_BUCKET_NAME}

fatsecret:
  client-id: ${FATSECRET_CLIENT_ID}
  client-secret: ${FATSECRET_CLIENT_SECRET}

sendgrid:
  api-key: ${SENDGRID_API_KEY}

openai:
  apiKey: ${OPENAI_API_KEY}
  model: ${OPENAI_MODEL:text-embedding-3-small}
